body{
  color: deepskyblue;
  font-family: 'Syne Tactile', cursive;
  background-color: seagreen;
  font-size: 25px;

}

h1{
  font-size: 70px
}

a{
  color: aquamarine;
}

#enter{
  font-family: 'Syne Mono', monospace;
  background-image: linear-gradient(black, midnightblue);
  background-color: black;
}

#chat{
  color: white;
  font-family: 'Syne Mono', monospace;
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
}
